/* General Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Main Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Header Section */
header, footer {
    background: linear-gradient(rgb(144, 192, 238),rgb(50, 63, 150));
    padding: 20px;
    text-shadow: 2px 4px 4px rgb(130, 140, 160);
    margin-top: 0;
    text-align: center;
    color: white;
}

header h2 {
    font-size: 24px;
    margin: 0;
    text-align: center;
}

main {
    align-items: center;
    justify-content: center;
    padding-top: 28px; padding-bottom: 28px;
}

/* Form Section Styling */
form {
    max-width: 500px;
    margin: 20px auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

/* Label Styling */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #555;
}

/* Input and Select Fields Styling */
input, select, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

input:focus, select:focus {
    border-color: #288c28;
    outline: none;
}

/* Button Styling */
button {
    background: linear-gradient(rgb(144, 192, 238),rgb(50, 63, 150));
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #225371;
}

#qrcodeImg {
    width: 500px;
    margin-top: 20px;
    max-width: 300px;
    margin-bottom: 10px;
}

@media print { body { font-size: 12pt; }
    .no-printed { display: none; }
    .printed-only { display: flex; }
}

/* Responsive Design */
@media (max-width: 768px) {
    form {
        width: 90%;
        padding: 20px;
    }

    .nav ul li a {
        padding: 12px 20px;
    }

    header h2 {
        font-size: 20px;
    }
}